<p>Get ready for a trip!</p>

<p>
  <%= @passenger.name %>, we're emailing to confirm your booking for flight
  <%= @booking.flight.id %>, <%= @booking.flight.origin.code %> to
  <%= @booking.flight.destination.code %>, on
  <%= @booking.flight.departure.strftime('%A, %d %B, at %r (%Z)')%>.
</p>

<p>
  <%= link_to "To view your full booking, please click on this link!",
    booking_url(@booking, host: 'localhost:3000') %>
</p>

<p>
  Thanks for flying Odin Airlines! We hope you have a ragna-rockin' time!
</p>